<!DOCTYPE html>
<html lang="en">
 {% load static %}
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
      <title>Health & Fitness Tracker - Login</title>
      <link rel="shortcut icon" href="{% static 'assets/img/image(2).png' %}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap">
      <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy8e1/oIcBDmMj0iSzFJQDI5P/CV9S9Ui" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-q3DFN0ex6Npefx9+fTzwrakf89p8Cd/8FV9ZgK2Da8k4OmAzLlAw/qYfAvlKc5N" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy8e1/oIcBDmMj0iSzFJQDI5P/CV9S9Ui" crossorigin="anonymous"></script>
   </head>
   <body>
      <div class="main-wrapper login-body">
         <div class="login-wrapper">
            <div class="container">
               <div class="loginbox">
                  <div class="login-left">
                     <h3 class="title">Health & Fitness Tracker</h3>
                  </div>
                  <div class="login-right">
                     <div class="login-right-wrap">
                        <h1>Login</h1>
                        {% if messages %}
                         {% for message in messages %}
                           {% if message.tags == 'error' %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                           {{message}}
                           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                           </button>
                        </div>
                           {% endif %}
                         {% endfor %}
                        {% endif %}
                        <form action="{% url 'doLogin' %}" method="post">
                           {% csrf_token %}
                           <div class="form-group">
                              <input class="form-control" type="text" placeholder="Email" name="email">
                           </div>
                           <div class="form-group">
                              <input class="form-control" type="password" placeholder="Password" name="password">
                           </div>
                           <div class="form-group">
                              <button class="btn btn-primary btn-block" type="submit">Login</button>
                           </div>
                        </form>
                        <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>

                        <button class="btn btn-info btn-block" data-toggle="modal" data-target="#creatorsModal" style=".btn-info {
                                                                                                                            background-color: #333;
                                                                                                                            border: 1px solid #333;
                                                                                                                        }">About Creators</button>

                     </div>
                  </div>
               </div>
            </div>
         </div>

      </div>
      <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
      <script src="{% static 'assets/js/popper.min.js' %}"></script>
      <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'assets/js/script.js' %}"></script>
   <!-- The Modal -->
      <div class="modal fade" id="creatorsModal" tabindex="-1" role="dialog" aria-labelledby="creatorsModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="creatorsModalLabel">Creators and Mentor</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <p>1. Darshan S Karkera (4NM21CS050)</p>
                  <p>2. Deeksha Achar (4NM21CS051)</p>
                  <p>Mentor: Pradeep Kanchan (CSE, NMAMIT)</p>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               </div>
            </div>
         </div>
      </div>
   </body>

</html>